* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Netflix Sans", "Helvetica Neue", "Helvetica", "Arial",
		sans-serif;
}

.clear {
	clear: both;
}

// .top-banner {
// 	background-image: linear-gradient(
// 			0deg,
// 			rgba(0, 0, 0, 0.8) 0,
// 			transparent 60%,
// 			rgba(0, 0, 0, 0.8)
// 		),
// 		url("https://assets.nflxext.com/ffe/siteui/vlv3/b321426e-35ae-4661-b899-d63bca17648a/f2696419-dab5-4911-8df4-4f9426f09d62/VN-en-20220926-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
// }

.background {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 76vh;
	z-index: -1;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		background: rgba(0, 0, 0, 0.4);
		background-image: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.8) 0,
			transparent 60%,
			rgba(0, 0, 0, 0.8)
		);
	}
}

header {
	padding: 28px 56px;

	svg {
		width: 167px;
	}

	.buttons {
		float: right;
	}

	select {
	}

	a {
		display: inline-block;
		background-color: #e50914;
		color: #fff;
		text-decoration: none;
		font-weight: 400;
		padding: 8px 16px;
		border-radius: 2px;
	}
}

.hero {
	padding: 140px 25%;

	h1 {
		font-weight: 700;
		color: #fff;
		font-size: 4rem;
		text-align: center;
		line-height: 1.1;
		margin-bottom: 16px;
	}

	h3 {
		color: #fff;
		text-align: center;
		font-weight: 400;
		font-size: 1.625rem;
		margin-bottom: 28px;
	}

	p {
		color: #fff;
		text-align: center;
		font-size: 19px;
		margin-bottom: 18px;
	}

	input {
		width: 67%;
		height: 70px;
		border: none;

		transform: translateY(-4.5px);
		font-size: 1rem;
		padding: 0 12px;
	}

	button {
		width: 32%;
		height: 70px;
		font-size: 1.75rem;
		border: none;
		background-color: #e50914;
		color: #fff;

		transform: translateX(-4px);

		svg {
			height: 24px;
			transform: translateY(4px);
			margin-left: 16px;
		}
	}
}
